<h5>みんなのコメント</h5>
<% @post.comments.each do |comment| %>
  <div class="comment_box bg-white mt-2 border border-warning shadow-sm">
    <div class=" d-flex">
      <p class="comment_right mt-1 mb-1 ms-2 me-2">
        <%= link_to anime_post_post_user_path(anime_id: @post.anime.id, id: comment.user_id, post_id: @post.id) do %>
          <% if comment.user.name=="ゲスト" %>
            <%= image_tag "/assets/default.jpg", size: '50x50' %>
          <% else %>
            <%= image_tag comment.user.image.thumb.url, size: "50x50", class: "img-fluid" %>
          <% end %>
        <% end %>
      </p>
      <p class="comment_left ms-3 mb-0 mt-2 mb-2">
        <%= safe_join(comment.body.split("\n"),tag(:br)) %></p>
      </p>
    </div>
    <% if comment.user_id == @user.id %>
      <p class="mb-0 text-end">
        <i class="far fa-trash-alt"></i>
        <%= link_to '削除', anime_post_comment_path(anime_id: @post.anime_id, id: @post.id, post_id: @post.id, comment_id: comment.id), method: :delete %>
      </p>
    <% end %>
  </div>
<% end %>