<div class="anime-main">
  <h4>アニメ詳細</h4>
  <div class="anime-box">
    <p class="anime-title"><%= @anime.title %></p>
    <%= link_to "感想を投稿する", new_anime_post_path(anime_id: "#{@anime.id}"), class:"btn" %>
    <%= link_to "楽天DVDを表示", rakuten_search_path(keyword: @anime.title, anime_id: @anime.id), class:"btn" %>
    <div class="post-box">
    <% if @anime.posts.present? %>
      <% @anime.posts.each do |post| %>
        <%# カードにできるかな？ %>
        <%= render partial: 'shared/post_show', locals: {post: post} %>
        <div id="likes_buttons_<%= post.id %>">
          <%= render partial: 'likes/like', locals: {post: post} %>
        </div>
      <% end %>
    <% else %>
      <p>まだ投稿がありません。ぜひ投稿してね</p>
      <%= link_to(:back, class:"btn") do %>
        <p><i class="fas fa-reply"></i>アニメ検索一覧へ</p>
      <% end %>
    <% end %>
    </div>
  </div>
  <%= link_to(root_path, class:"btn") do %>
   <p><i class="fas fa-reply"></i>ホームへ</p>
  <% end %>
</div>