<div class="anime-main min-vh-100 row">
  <div class="anime-box row col-8 col-md-8 col-xl-8">
    <h4 class="anime-title"><%= @anime.title %></h4>
    <div class="anime-left col-12 col-md-6 col-xl-6">
      <%= link_to image_tag("#{ @anime.image}"),"#{@anime.official_site_url}" %>
    </div>
    <div class="anime-right col-12 col-md-6 col-xl-6">
      <p><%= @anime.year %>年</p>
      <p><%= @anime.media_text %></p>
      <p>
        <% if @anime.official_site_url? %>
          <%= link_to "公式サイト", "#{@anime.official_site_url}", target: :_blank, rel: "noopener noreferrer" %>
        <% end %>
      </p>
      <p>
        <% if @anime.twitter_username.present? %>
          <%= link_to "Twitter", "https://twitter.com/#{@anime.twitter_username}", target: :_blank, rel: "noopener noreferrer" %>
        <% end %>
      </p>
      <%= link_to "感想を投稿する", new_anime_post_path(anime_id: "#{@anime.id}"), class:"btn mt-4 mb-4" %>
      <%= link_to "楽天DVDを表示", rakuten_search_path(keyword: @anime.title, anime_id: @anime.id), class:"btn mt-4 mb-4" %>
    </div>
    <div class="post-box">
      <h5 class="pt-2 pb-2">投稿一覧</h5>
      <% if @anime.posts.present? %>
        <div class="col-12 col-md-6 col-xl-6 post-card mt-3 mb-2 ps-2">
          <% @anime.posts.each do |post| %>
            <h5 class="text-center pt-2 pb-2 mb-3 border-top border-bottom border-3 border-warning"><%= post.title %></h5>
            <%= render partial: 'shared/post_show', locals: {post: post} %>
            <%= render partial: 'shared/link_comments', locals: {post: post} %>
          <% end %>
      <% else %>
          <p class="pt-2 pb-2">まだ投稿がありません  ぜひ投稿してね</p>
          <%= link_to(:back, class:"btn") do %>
            <p><i class="fas fa-reply"></i>アニメ検索一覧へ</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="text-start">
    <%= link_to(root_path, class:"btn") do %>
    <p class="text-start"><i class="fas fa-reply"></i>ホームへ</p>
    <% end %>
  </div>
</div>