<div class="container">
  <div class="post-box col-12">
    <h5 class="card-title text-center pt-2 pb-2 mb-3 border-top border-bottom border-3 border-warning"><%= @post.anime_title %></h5>
    <h6 class="card-subtitle mb-2">「<%= @post.title %>」</h6>
    <%= render partial: 'shared/post_show', locals: {post: @post} %>
    <i class="far fa-trash-alt mt-5"></i><%= link_to '削除', anime_post_path(@post), method: :delete %>
    <i class="fas fa-reply ms-2 mt-5"></i><%= link_to "マイページに戻る", users_show_path(@user.id) %>
  </div>
</div>