<!DOCTYPE html>
<html>
  <head>
    <title>Aniboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'users' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navi">
            <%= link_to 'Aniboard', root_path %>
            <% if user_signed_in? %>
              <% if @user.image? %>
              
                <%= image_tag @user.image.thumb.url %>
              <% else %>
                <%= image_tag "/assets/default.jpg", :size => '50x50' %>
              <% end %>
              <strong><%= link_to @user.name, users_show_path %></strong>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to 'サインアップ', new_user_registration_path %>
              <%= link_to 'ログイン', new_user_session_path %>
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
            <% end %>
        </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
